DB_USER=airflow_db_user
DB_PASS=airflow_db_pass
DB_NAME=warehouse
DB_CONN=postgresql+psycopg2://airflow_db_user:airflow_db_pass@postgres/warehouse
AIRFLOW_DB_CONN=postgres_conn
AIRFLOW_DB_DW_CONN=warehouse_conn
_AIRFLOW_WWW_USER_USERNAME=airflow_ui_user
_AIRFLOW_WWW_USER_PASSWORD=airflow_ui_pass
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_UID=50000
FERNET_KEY=pxFR0wCsgF_ZfQODnj0P3XfZGz-fjNs3p-lvoE-KFl5=
